@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

* {
  box-sizing: border-box;
}



/* Scroll hide */
/* =============================================== */
/* =============================================== */

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Noise */
/* =============================================== */
/* =============================================== */

.noise-container { opacity: 0; animation-delay: .1s; animation-duration: 1.5s; animation-name: noisegrain-intro; animation-timing-function: ease-out; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.noise { animation: grain 6s steps(10) infinite; background-image: url('/assets/noise-full.png'); background-repeat: repeat; height: 300%; left: -50%; opacity: .035; position: fixed; top: -100%; width: 300%; z-index: 100; pointer-events: none; }
@keyframes noisegrain-intro { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes grain{0%,100%{transform:translate(0,0)}10%{transform:translate(-5%,-10%)}20%{transform:translate(-15%,5%)}30%{transform:translate(7%,-25%)}40%{transform:translate(-5%,25%)}50%{transform:translate(-15%,10%)}60%{transform:translate(15%,0)}70%{transform:translate(0,15%)}80%{transform:translate(3%,35%)}90%{transform:translate(-10%,10%)}}


/* Blurs */
/* =============================================== */
/* =============================================== */

.blobs-container {
  top: 0;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: absolute;
  mix-blend-mode: darken;
  /* pointer-events: none; */
}

.blobs {
  --blob-size: 47.333vw;
  --blob-speed: 2.125s;
  --blob-height-multi: .42;
  --blob-speed-scale: calc(0.75 * var(--blob-speed));
  --blob-speed-move: calc(1 * var(--blob-speed));
  --blob-speed-rotate: calc(3.333 * var(--blob-speed));
  --blob-opacity: 0.5;
  --blob-blur: 90px;
  --blob-color-1: hsl(35deg 97% 63%);
  --blob-color-2: hsl(169deg 51% 47%);
  --blob-color-3: hsl(276deg 51% 47%);
  --blob-color-4: hsl(0deg 98% 55%);
  position: absolute;
  filter: blur(var(--blob-blur));
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blobs * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  will-change: transform;
}

.blob {
  width: var(--blob-size);
  height: calc(var(--blob-height-multi) * var(--blob-size));
  background-color: var(--blob-color-1);
  border-radius: 100%;
  opacity: var(--blob-opacity);
  mix-blend-mode: multiply;
  -webkit-animation: blob ease-in-out var(--blob-speed-scale) infinite;
          animation: blob ease-in-out var(--blob-speed-scale) infinite;
}
.blobs > :nth-child(2) .blob {
  background-color: var(--blob-color-2);
  -webkit-animation-delay: calc(-0.8 * var(--blob-speed-scale));
          animation-delay: calc(-0.8 * var(--blob-speed-scale));
}
.blobs > :nth-child(3) .blob {
  background-color: var(--blob-color-3);
  -webkit-animation-delay: calc(-0.2 * var(--blob-speed-scale));
          animation-delay: calc(-0.2 * var(--blob-speed-scale));
}
.blobs > :nth-child(4) .blob {
  opacity: .5;
  background-color: var(--blob-color-4);
  filter: blur(60px);
  -webkit-animation-delay: calc(-0.4 * var(--blob-speed-scale));
          animation-delay: calc(-0.4 * var(--blob-speed-scale));
}

@keyframes blob {
  0%, 100% { transform: scale(0.85, 1.25); }
  50% { transform: scale(1.15, 0.95); }
}
.blob-rotate {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: blob-rotate linear var(--blob-speed-rotate) infinite alternate;
          animation: blob-rotate linear var(--blob-speed-rotate) infinite alternate;
}
.blob-rotate:nth-child(2) {
  -webkit-animation-duration: calc(2 * var(--blob-speed-rotate));
          animation-duration: calc(2 * var(--blob-speed-rotate));
  -webkit-animation-delay: calc(-1.5 * var(--blob-speed-rotate));
          animation-delay: calc(-1.5 * var(--blob-speed-rotate));
}
.blob-rotate:nth-child(3) {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: calc(0.8 * var(--blob-speed-rotate));
          animation-duration: calc(0.8 * var(--blob-speed-rotate));
  -webkit-animation-delay: calc(-1 * var(--blob-speed-rotate));
          animation-delay: calc(-1 * var(--blob-speed-rotate));
}

@keyframes blob-rotate {
  0% {   transform: translate3d(-50%, -50%, 0) rotateZ(-8deg); transform-origin: 50% 100%; }
  100% { transform: translate3d(-50%, -50%, 0) rotateZ(10deg); transform-origin: 50% 0%; }
}
.blob-move {
  -webkit-animation: blob-move ease-in-out var(--blob-speed-move) infinite;
          animation: blob-move ease-in-out var(--blob-speed-move) infinite;
}
.blobs > :nth-child(2) .blob-move {
  -webkit-animation-delay: calc(-0.8 * var(--blob-speed-move));
          animation-delay: calc(-0.8 * var(--blob-speed-move));
}
.blobs > :nth-child(3) .blob-move {
  -webkit-animation-delay: calc(-0.4 * var(--blob-speed-move));
          animation-delay: calc(-0.4 * var(--blob-speed-move));
}

@keyframes blob-move {
  0%, 100% { transform: translateX(15%); }
  50% { transform: translateX(-15%); }
}

@media (max-width: 2560px) { .blobs { --blob-size: 42.175vw } }
@media (max-width: 1680px) { .blobs { --blob-size: 960px } }
@media (max-width: 1024px) { .blobs { --blob-size: 720px } }

/* Marquee */
/* =============================================== */
/* =============================================== */

.marquee-container span {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marquee-container span::after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #FFF;
  top: 0;
}

.marquee-container span h4 {
  font-weight: 800;
  font-size: 30px;
  line-height: .9;
  letter-spacing: -0.01em;
}

.marquee-container span p {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  letter-spacing: -0.02em;
}


















.bracket-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
}

.bracket-link > span {
  border-bottom: 1px solid;
  line-height: .8;
}

.bracket-link::before {
  content: '【';
  padding-right: 1.333em;
}
.bracket-link::after {
  content: '】';
  padding-left: 1.333em;
}



.main-heading-1 {
  font-weight: 400;
  font-size: 158px;
  line-height: .9;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0B0B0D;
}