@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Grotesque', Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

html,
body,
main {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

* {
  box-sizing: border-box;
}

/* Header */
/* =============================================== */
/* =============================================== */

#__next > header {
  z-index: 99;
}

#__next > header .menu-item,
.radio-container-block .text-grotesque {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  display: flex;
  letter-spacing: -0.02em;
}

#__next > header .menu-item > span {
  display: block;
  margin-top: 2px;
}

/* Radio container */
/* =============================================== */
/* =============================================== */

@layer components {
  .radio-container-block .radio-indicator {
    @apply block w-[7px] h-[7px] rounded;
    --indicator-color: rgba(11, 11, 13, 0.35);
    background: var(--indicator-color);
    transition: background .575s cubic-bezier(.6, .01, .3, 1);
  }
  .radio-container-block .radio-indicator.is-playing {
    --indicator-color: #74F347;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .radio-container-block .radio-indicator.is-buffering {
    --indicator-color: #f3cb47;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .radio-container-block .radio-indicator.has-error {
    --indicator-color: #ED5A74;
  }
  .radio-container-block .radio-container-controller .text-grotesque {
    max-height: 12px;
  }
  .radio-container-block .radio-container-controller .text-grotesque > span {
    transition: transform .575s cubic-bezier(.6, .01, .3, 1);
    transform: translateY(0);
  }
  .radio-container-block .radio-container-controller:hover .text-grotesque > span {
    transform: translateY(-12px);
  }
}

@keyframes blinking {
  0% {opacity: .45 }
  50% {opacity: 1 }
  100% { opacity: .45 }
}


/* Mega menu */
/* =============================================== */
/* =============================================== */

@layer components {

  header .menu-block {
    --letter-height: 72px;
  }

  @media (min-width: 1024px) {
    header .menu-block {
      --letter-height: 111px;
    }
  }

  header .menu-block .menu-items-wrapper li a {
    @apply relative;
    line-height: .9;
    max-height: calc( var(--letter-height) - 10px );
  }
  
  header .menu-block .menu-items-wrapper li a:hover span:nth-child(1) {
    transform: translateY( calc( -1 * var(--letter-height) - 6px  ) );
  }
  header .menu-block .menu-items-wrapper li a:hover span:nth-child(2) {
    transform: translateY( calc( -1 * var(--letter-height) - 6px  ) );
  }

  header .menu-block .menu-items-wrapper li:nth-child(even) a {
    @apply uppercase italic cursor-pointer -mt-3;
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    letter-spacing: -0.055em;
  }

  header .menu-block .menu-items-wrapper li:nth-child(even) a span {
    @apply pr-9 md:pr-16;
  }

  header .menu-block .menu-items-wrapper li:nth-child(odd) a {
    @apply uppercase cursor-pointer;
    font-family: 'Grotesque', Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -0.04em;
  }

  header .menu-block .menu-items-wrapper li:nth-child(odd) a span {
    @apply pr-9;
  }

  header .menu-block .menu-items-wrapper li a span {
    transition: transform .575s cubic-bezier(.6, .01, .3, 1);
  }

  header .menu-block .menu-items-wrapper li a i {
    @apply hidden lg:inline-block absolute top-0 right-0;
    font-family: 'Grotesque', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
  }

  @media (min-width: 1024px) {
    header .menu-block .menu-items-wrapper li a i {
      font-size: 20px;
    }
  }

  header .menu-block .menu-items-wrapper li:nth-child(even) a i {
    @apply top-3 ml-10;
  }

  header .menu-block .menu-footer-wrapper .menu-social a {
    @apply md:text-[20px] text-base pt-4 pb-3 md:pb-0;
    font-weight: 500;
    line-height: .75;
    letter-spacing: -0.02em;
    border-bottom: 1px solid;
  }

  header .menu-block .menu-footer-wrapper .menu-footnotes {
    @apply flex uppercase pt-6;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    flex-direction: column;
    letter-spacing: -0.02em;
  }

}

/* Scroll hide */
/* =============================================== */
/* =============================================== */

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Noise */
/* =============================================== */
/* ===============================================z-[9999] */

.noise-container { opacity: 0; animation-delay: .1s; animation-duration: 1.5s; animation-name: noisegrain-intro; animation-timing-function: ease-out; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.noise { animation: grain 6s steps(10) infinite; background-image: url('/assets/noise-full.png'); background-repeat: repeat; height: 300%; left: -50%; opacity: .035; position: fixed; top: -100%; width: 300%; z-index: 100; pointer-events: none; }
@keyframes noisegrain-intro { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes grain{0%,100%{transform:translate(0,0)}10%{transform:translate(-5%,-10%)}20%{transform:translate(-15%,5%)}30%{transform:translate(7%,-25%)}40%{transform:translate(-5%,25%)}50%{transform:translate(-15%,10%)}60%{transform:translate(15%,0)}70%{transform:translate(0,15%)}80%{transform:translate(3%,35%)}90%{transform:translate(-10%,10%)}}

/* Blurs */
/* =============================================== */
/* =============================================== */

.blobs-container {
  top: 0;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: absolute;
  mix-blend-mode: darken;
  /* pointer-events: none; */
}

.blobs {
  --blob-size: 47.333vw;
  --blob-speed: 2.125s;
  --blob-height-multi: .42;
  --blob-speed-scale: calc(0.75 * var(--blob-speed));
  --blob-speed-move: calc(1 * var(--blob-speed));
  --blob-speed-rotate: calc(3.333 * var(--blob-speed));
  --blob-opacity: 0.5;
  --blob-blur: 90px;
  position: absolute;
  filter: blur(var(--blob-blur));
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blobs * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  will-change: transform;
}

.blob {
  width: var(--blob-size);
  height: calc(var(--blob-height-multi) * var(--blob-size));
  background-color: var(--blob-color-1);
  border-radius: 100%;
  opacity: var(--blob-opacity);
  mix-blend-mode: multiply;
  -webkit-animation: blob ease-in-out var(--blob-speed-scale) infinite;
          animation: blob ease-in-out var(--blob-speed-scale) infinite;
}
.blobs > :nth-child(2) .blob {
  background-color: var(--blob-color-2);
  -webkit-animation-delay: calc(-0.8 * var(--blob-speed-scale));
          animation-delay: calc(-0.8 * var(--blob-speed-scale));
}
.blobs > :nth-child(3) .blob {
  background-color: var(--blob-color-3);
  -webkit-animation-delay: calc(-0.2 * var(--blob-speed-scale));
          animation-delay: calc(-0.2 * var(--blob-speed-scale));
}
.blobs > :nth-child(4) .blob {
  opacity: .5;
  background-color: var(--blob-color-4);
  filter: blur(60px);
  -webkit-animation-delay: calc(-0.4 * var(--blob-speed-scale));
          animation-delay: calc(-0.4 * var(--blob-speed-scale));
}

@keyframes blob {
  0%, 100% { transform: scale(0.85, 1.25); }
  50% { transform: scale(1.15, 0.95); }
}
.blob-rotate {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: blob-rotate linear var(--blob-speed-rotate) infinite alternate;
          animation: blob-rotate linear var(--blob-speed-rotate) infinite alternate;
}
.blob-rotate:nth-child(2) {
  -webkit-animation-duration: calc(2 * var(--blob-speed-rotate));
          animation-duration: calc(2 * var(--blob-speed-rotate));
  -webkit-animation-delay: calc(-1.5 * var(--blob-speed-rotate));
          animation-delay: calc(-1.5 * var(--blob-speed-rotate));
}
.blob-rotate:nth-child(3) {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: calc(0.8 * var(--blob-speed-rotate));
          animation-duration: calc(0.8 * var(--blob-speed-rotate));
  -webkit-animation-delay: calc(-1 * var(--blob-speed-rotate));
          animation-delay: calc(-1 * var(--blob-speed-rotate));
}

@keyframes blob-rotate {
  0% {   transform: translate3d(-50%, -50%, 0) rotateZ(-8deg); transform-origin: 50% 100%; }
  100% { transform: translate3d(-50%, -50%, 0) rotateZ(10deg); transform-origin: 50% 0%; }
}
.blob-move {
  -webkit-animation: blob-move ease-in-out var(--blob-speed-move) infinite;
          animation: blob-move ease-in-out var(--blob-speed-move) infinite;
}
.blobs > :nth-child(2) .blob-move {
  -webkit-animation-delay: calc(-0.8 * var(--blob-speed-move));
          animation-delay: calc(-0.8 * var(--blob-speed-move));
}
.blobs > :nth-child(3) .blob-move {
  -webkit-animation-delay: calc(-0.4 * var(--blob-speed-move));
          animation-delay: calc(-0.4 * var(--blob-speed-move));
}

@keyframes blob-move {
  0%, 100% { transform: translateX(15%); }
  50% { transform: translateX(-15%); }
}

@media (max-width: 2560px) { .blobs { --blob-size: 42.175vw } }
@media (max-width: 1680px) { .blobs { --blob-size: 960px } }
@media (max-width: 1024px) { .blobs { --blob-size: 720px } }

/* Marquee */
/* =============================================== */
/* =============================================== */

.marquee-container span {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marquee-container span::after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #FFF;
  top: 0;
}

.marquee-container span h4 {
  font-weight: 800;
  font-size: 30px;
  line-height: .9;
  letter-spacing: -0.01em;
}

.marquee-container span p {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* Vanta Clouds */
/* =============================================== */
/* =============================================== */

.vantaClouds-container .top-fade {
  z-index: 1;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.vantaClouds-container canvas {
  bottom: 0;
  top: unset !important;
}

.vantaClouds-container .inner-gallery {
  height: 60%;
  position: absolute;
  width: 100%;
  top: 8rem;
}

.vantaClouds-container .inner-container-below {
  height: 25%;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.vantaClouds-container .image__1 {
  filter: blur(2.5px);
  z-index: 1;
}
.vantaClouds-container .image__2,
.vantaClouds-container .image__3,
.vantaClouds-container .image__4 {
  z-index: 2;
}
.vantaClouds-container .image__5 {
  filter: blur(4.5px);
  z-index: 1;
}

/* Equalizer icon */
/* =============================================== */
/* =============================================== */

.equalizer {
  --equalizer-color: #000;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 1em;
}
.equalizer.dark {
  --equalizer-color: #000;
}
.equalizer.light {
  --equalizer-color: #FFF;
}
.equalizer > span:before, 
.equalizer > span:after {
  content: '';
  background: var(--equalizer-color);
  width: 2px;
  display: inline-block;
  margin: 0 1px;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; 
  transition: height .575s cubic-bezier(.6, .01, .3, 1);
}
.equalizer > span:first-child:before {
  height: .8em;
  animation-delay: 0s;
  animation-duration: 0.325s;
  animation-name: first-eq-bar-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}
.equalizer > span:first-child:after {
  height: .6em;
  animation-delay: 0.1s;
  animation-duration: 0.315s;
  animation-name: second-eq-bar-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}
.equalizer > span:last-child:before {
  height: 1em; 
  animation-delay: 0.1s;
  animation-duration: 0.333s;
  animation-name: third-eq-bar-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}
.equalizer > span:last-child:after {
  height: .8em;
  animation-delay: 0s;
  animation-duration: 0.375s;
  animation-name: fourth-eq-bar-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
}
.equalizer:is(.is-paused, .is-muted) > span,
.equalizer:is(.is-paused, .is-muted) > span:before,
.equalizer:is(.is-paused, .is-muted) > span:after {
  animation-name: none;
}
.equalizer:is(.is-paused, .is-muted) > span:before,
.equalizer:is(.is-paused, .is-muted) > span:after {
  height: .1em;
}
@keyframes first-eq-bar-animation {
  0% { height: .7em; }
  100% { height: .3em; } 
}
@keyframes second-eq-bar-animation {
  0% { height: .6em; }
  100% { height: .2em; } 
}
@keyframes third-eq-bar-animation {
  0% { height: .9em; }
  100% { height: .6em; } 
}
@keyframes fourth-eq-bar-animation {
  0% { height: .8em; }
  100% { height: .2em; } 
}












.bracket-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
}

.bracket-link > span {
  border-bottom: 1px solid;
  line-height: .8;
}

.bracket-link::before {
  content: '【';
  padding-right: 1.333em;
}
.bracket-link::after {
  content: '】';
  padding-left: 1.333em;
}



.main-heading-1 {
  font-weight: 400;
  font-size: 158px;
  line-height: .9;
  text-align: center;
  letter-spacing: -0.01em;
}

.main-heading-2 {
  font-weight: 400;
  font-size: 138px;
  line-height: .9;
  text-align: center;
  letter-spacing: -0.01em;
}

.main-text-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
}













.preloader {
  z-index: 999999 !important;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.vhs {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background: #0B0B0D;
  overflow: hidden;
  -webkit-animation: blue-me 5ms infinite;
          animation: blue-me 5ms infinite;
}

.vhs:after {
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}

@keyframes blue-me {
  28% { background: #0B0B0D; }
  30% { background: rgba(#0B0B0D, 0.95); }
  33% { background: #0B0B0D; }
  34% { background: rgba(#0B0B0D, 0.9); }
  35% { background: #0B0B0D; }
}
@keyframes blur {
  0%    { filter: blur(.75px); opacity: 0.8; }
  50%   { filter: blur(.75px); opacity: 1;   }
  100%  { filter: blur(.75px); opacity: 0.8; }
}
@keyframes track {
  40% { opacity: 1; top: 0; left: 0; transform: scale(1, 1); transform: skew(0, 0); }
  41% { opacity: 0.8; top: 0px; left: -100px; transform: scale(1, 1.2); transform: skew(50deg, 0); }
  42% { opacity: 0.8; top: 0px; left: 100px; transform: scale(1, 1.2); transform: skew(-80deg, 0); }
  43% { opacity: 1; top: 0; left: 0; transform: scale(1, 1); transform: skew(0, 0); }
}

.vhs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: track 5ms infinite;
          animation: track 5ms infinite;
  position: relative;
  margin: 4em;
  height: calc( 100% - 8em );
}
.vhs-container span {
  -webkit-animation: blur 30ms infinite;
          animation: blur 30ms infinite;
}
.vhs-container span > * {
  text-shadow: 1px 1px #008000, -1px -1px #FD1D1D;
  color: #F2F2F2;
}

.vhs-container .logo {
  display: flex;
  justify-content: center;
}

.vhs-container .loader h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 158px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.01em;
  margin: 0;
}

.vhs-container .loader p {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.vhs-container .copyrights > p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.screen-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.line {
  width: 100%;
  height: 3px;
  position: relative;
  -webkit-animation: appear 1s infinite, flick 1s infinite, big-jump 5ms infinite;
          animation: appear 1s infinite, flick 1s infinite, big-jump 5ms infinite;
}
.line .white {
  background: white;
  position: relative;
  top: 0;
  left: 0;
  height: 4px;
}
.line .red {
  background: red;
  position: relative;
  top: 0;
  left: 0;
  height: 1px;
}
.line .green {
  background: green;
  position: relative;
  top: 0;
  left: 0;
  height: 1px;
}

@keyframes appear {
  0% { filter: blur(5px); opacity: 0.85; }
  50% { filter: blur(3px); opacity: 0.85; }
  100% { filter: blur(4px); opacity: 0.85; }
}
@keyframes big-jump {
  0% { top: 0; }
  10% { top: -100px; }
  12% { top: 0; }
  54% { top: 0; }
  55% { top: -300px; }
  56% { top: 0; }
  86% { top: 0; }
  87% { top: -600px; }
  88% { top: 0; }
}

@keyframes showHide {
  1% { opacity: 0; }
  10% { opacity: 1; }
  19% { opacity: 0; }
  100% { opacity: 0; }
}

@media (max-width: 480px) {
  .vhs-container .loader h2 {
    font-size: 33.333vw;
  }
  .vhs-container {
    margin: 3.333em 20px;
  }
}